body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100vh;
    background-position: center;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: royalblue;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  border-bottom: 1px solid aliceblue;
}

#section3a {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

#section3b {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

#section3c {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

subsection {
  display:flex;
  min-height:98vh;
  max-height: 100vh;
  max-width: 100vw;
  justify-content:center;
  flex-wrap: wrap;
  background-color: dodgerblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  flex-direction:column;
}

.image {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.icon {
  margin-right: 10px;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 3vmin;
  margin-bottom: 3vh;
}

strong {
  color: white;
  font-family: sans-serif;
  font-size: 3vmin;
  margin-bottom: 3vh;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height:88vh;
  border:2px solid red;
  text-align: center;

}

@media only screen and (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media only screen and (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media only screen and (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media only screen and (min-width:961px)  {
  .wrapper max-width: 40vw;
}
@media only screen and (min-width:1025px) {
.wrapper max-width: 40vw;
 }
@media only screen and (min-width:1281px) {
.wrapper max-width: 40vw; }
