body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vmin;
  background-color: royalblue;
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
  border-bottom: 1px solid aliceblue;
}

#section3a {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

#section3b {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

#section3c {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
}

subsection {
  display:flex;
  width: 100%;
  height: 100%;
  justify-content:center;
  flex-wrap: wrap;
  background-color: dodgerblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction:column;
}

.icon {
  margin-right: 10px;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  margin-bottom: 1vh;
}

strong {
  color: white;
  font-family: sans-serif;
  margin-bottom: 1vh;
  font-size: 1em;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height:92vh;
  width: 90%;
  text-align: center;
  }

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height:92vh;
  width: 90%;
  text-align: center;
}

@media only screen and (min-width:100px) and (max-width:480px) and (orientation:portrait)
{
p,strong {
font-size:1em;
}

#compass {
  width:120px;
  height:120px;
}
#binocular-man {
  width: 180px;
  height: 120px;
}
#calendar {
  width: 120px;
  height: 100px;
}
}

@media only screen and (orientation:landscape) and (max-width:760px)  {
.wrapper {
  width:100%;
}
#compass {
  display:none;
}
#binocular-man {
  display:none;
}
#calendar {
  display:none;
}
}
@media only screen and (min-width:641px)  {

}
@media only screen and (min-width:961px)  {
.wrapper {
  width:50%;
}


  }
@media only screen and (min-width:1025px) {


 }
}
@media only screen and (min-width:1281px) {


 }
}
